body{
    background-color:#ffffff;
    margin: 0;
    font-family: "Sora", sans-serif;
}

img, svg {
    display: block;
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    z-index: 98;
}

header, footer {
    background-color: black;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer{
    margin-top: 120px;
}

.contheader{
    display: flex;
    align-items: center;
    width: 1350px;
    justify-content: space-between;
    margin: auto;
    padding: 12px;
}

header a {
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

footer a:hover{
    text-decoration: underline;
}

.titoloheader{
    font-weight: 700;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.titoloheader img{
    max-height: 22px;
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

ul {
  margin: 0;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
 text-decoration: underline
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

main{
    margin: auto;
    padding-top: 72px;
    width: 100%;
}

main a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 22px;
}

main a:hover{
    text-decoration: underline;
}

.contenuto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 680px;
}

.contenuto img {
    width: 480px;
	height: 320px;
    object-fit: cover;
}

.paragrafo {
    padding-top: 100px;
}

.paragrafo, .paragrafoarboree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    margin: auto;
}

#hero {
    position: relative;
    bottom: 50px;
}

.hero, .hero1, .hero2, .hero3, .hero4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.hero{
    background-color: #80B280;
}

.hero1{
    background-color: #83BE7E;
}

.hero2{
    background-color: #AD9B7A;
}

.hero3{
    background-color: #C2A984;
}

.hero4{
    background-color: #97C383;
}


h1{
    font-weight: 700;
    font-size: 80px;
    margin: 0;
}

h2{
    font-weight: 600;
    font-size: 25px;
    border-bottom: 3px solid white;
    max-width: 256px;
}

.erbacea {
    max-width: 220px;
}

.bulbosa {
    max-width: 222px;
}

.arborea {
    max-width: 401px;
}

.rampicante {
    max-width: 274px;
}

h3{
    font-weight: 700;
    font-size: 22px;
    border-bottom: 3px solid black;
    max-width: 374px;
}

#titolohome2{
    width: 291px;
}

h4{
    font-weight: 700;
    font-size: 35px;
    max-width: 1180px;
    margin: auto;
    padding-top: 100px;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.testo{
    font-weight: 400;
    font-size: 15px;
    max-width: 680px;
}

.testohero{
    width: 480px;
}

.box {
    display: flex;
    width: 1180px;
    margin: auto;
    gap: 20px;
    padding-top: 100px;
}

.cardhome {
    width: 280px;
    height: 220px;
    background-color: #80B280;
}

.cardhome:hover {
    background-color: #006600;
}

.testohome p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.testohome, .imagehome {
    margin: auto;
}

.cardspecie {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 5%;
}

.cardspecie:hover{
    text-decoration: none;
}

.imagehome img {
    height: 160px;
}

#susanna{
    width: 200px;
}

.piante h3 {
    margin: auto;
    max-width: 86px;
}

.piante {
    max-width: 1180px; 
    margin: 0 auto; 
    padding-top: 100px;
    }
    
    
.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 30px;
}
    
    .foto {
      position: relative;
      width: 280px;
    }
    
    .foto img {
      height: 222px;
      width: 100%;
      object-fit: cover;
    }
    
    .foto a:before { 
      content: "";
      background: rgba(255,255,255,0.8);
      top: 50%;
      left: 0;
      width: 100%;
      height: 33%;
      position: absolute;
      display: none;
      transform: translateY(-50%);
    }
    
    .foto a span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 21px;
      text-align: center;
      color: black;
      display: none;
    }
    
    .foto a:hover span, .foto a:hover:before {
      display: block;
    }

    .img {
        position: relative;
    }
    
    .grafico {
        position: relative;
        z-index: 1;
    }
    
    .minimal{
        position: absolute;
        z-index: 3;
        top: 0%;
    }

    .minimal img {
        width: 90%;
        margin: auto;
        margin-top: 25%;
    }

    .illustrazione {
        position: absolute;
        z-index: 3;
        top: 0%;
        left: 7%;
    }

    .illustrazione img {
        width: 80%;
        margin: auto;
        margin-top: 15%;
    }

    #r2 {
        object-position: 0 82%; 
    }

    #p3 {
      
        object-position:  0 70%;
    }

    #g4 {
        object-position: 0 35%;
    }

    #t3 {
        object-position: 0 63%;
    }

    .interlinea {
        line-height: 90px;
    }

@media (max-width: 1270px){
    .contheader{
        padding: 12px 25px;
    }

    .paragrafo, .paragrafoarboree{
        padding: 0 30px;
        padding-top: 30px;
        max-width: 850px;
    }

    .piante{
        max-width: 850px;
    }

    .hero, .hero1, .hero2, .hero3, .hero4 {
        padding: 0 30px;
    }

    #hero{
        bottom: -20px;
    }

    .illustrazione{
        left: 6%;
    }

    svg {
        height: 100%;
    }

    h1{
        font-size: 50px;
        max-width: 350px;
    }

    h2{
        font-size: 23px;
        max-width: 235px;
    }

    h3{
        font-size: 20px;
    }

    #titolohome{
        width: 258px;
    }

    #titolohome2{
        width: 265px;
    }    

    h4{
        padding: 30px 30px 0 30px;
        max-width: 850px;
    }

    .interlinea{
        line-height: 60px;
    }
    

    .testohero{
        max-width: 350px;
    }

    .testo{
        max-width: 550px;
    }

    .box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 580px;
    }

    .card{
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    
    .foto a span {
        position: absolute;
        background-color: rgba(255,255,255,0.8);
        color:black;
        width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .foto a:hover span, .foto a:hover:before {
        display: none;
      }

    .erbacea {
        max-width: 202px;
    }
    
    .bulbosa {
        max-width: 205px;
    }
        
    .rampicante {
        max-width: 252px;
    }
    }

@media (max-width: 910px) {

    .minimal img{
        margin-top: 35%;
    }

    p {
        font-size: 15px;
    }

    #titolohome {
        width: 340px;
    }

    h4 {
        max-width: 480px;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
        width: 580px;
        margin: auto;
        gap: 20px;
    }

    .hero, .hero1, .hero2, .hero3, .hero4, .paragrafo, .paragrafoarboree{
        flex-direction: column;
        padding: 0;
    }

    .paragrafo, .paragrafoarboree {
        gap: 20px;
    }

    #hero {
        width: 450px;
    }

    .testohero {
        max-width: 450px;
    }

    svg{
        height: 100%;
    }
    
    .minimal img {
        margin-top: 30%;
    }

    .illustrazione img{
        margin-top: 20%;
    }

    .paragrafo, .paragrafoarboree {
        margin: auto;
        width: 480px;
        padding-top: 30px;
    }

    .arborea{
        max-width: 370px;
    }
}

@media(max-width:693px){
    main {
        padding-top: 78px;
    }

    h1 {
        font-size: 45px;
    }

    h2{
        font-size: 21px;
        max-width: 225px;
    }

    p {
        font-size: 15px;
    }

    .box {
        grid-template-columns: repeat(1, 1fr);
        max-width: 280px;
    }

    .card {
        grid-template-columns: repeat(1, 1fr);
        width: 280px;
        margin: auto;
    }

    .grafico svg {
        width: 693px;
    }

    .illustrazione{
        left: 0%;
    }

    .illustrazione img {
        width: 75%;
        margin-top: 15%;
    }

    .minimal img {
        margin-top: 25%;
    }

    .hero, .hero1, .hero2, .hero3, .hero4 {
        padding: 0 50px;
    }

    #hero, .testohero {
        width: 350px;
    }

    .paragrafo, .paragrafoarboree {
        max-width: 350px;
        padding-top: 30px;
    }

    .erbacea {
        max-width: 185px;
    }

    .arborea{
        max-width: 337px;
    }

    .bulbosa {
        max-width: 187px;
    }

    .rampicante {
        max-width: 230px;
    }

    footer ul {
        gap: 0;
    }

    .home{
        flex-direction: column;
    }
    
    ul{
        flex-direction: column;
    }
 
    .off-screen-menu {
        background-color:  rgb(0, 0, 0);
        top: 0;
        display: none;
        margin: auto;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        font-size: 3rem;
        position:inherit;
        top: 44px;
        right: 0;
    }

    .off-screen-menu.active {
        display: grid;
        align-items: center;
    }

    footer ul li a {
        padding: 4px 6px;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 6px;
        font-size: 15px;
        font-weight: 400;
    }

    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .container .off-screen-menu{
        grid-row: 2;
    } 

    nav {
        background-color: rgb(0, 0, 0);
        align-self: flex-end;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .ham-menu {
        height: 30px;
        width: 30px;
        position: relative;
    }

    .ham-menu:hover{
        cursor: pointer;;
    }

    .ham-menu span {
        height: 3px;
        width: 70%;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span {
        background-color: rgb(255, 255, 255);
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@media (max-width:460px) {
    .paragrafo, .paragrafoarboree {
        max-width: 292px;
    }

    .hero, .hero1, .hero2, .hero3, .hero4 {
        padding: 0 15px;
    }

    #hero {
        max-width: 292px;
    }

    h1 {
        max-width: 292px;
        font-size: 25px;
    }

    h2 {
        font-size: 19px;
        width: 194px;
    }

    h3 {
        font-size: 17px;
    }

    .testohero {
        max-width: 292px;
    }

    .contenuto img {
        height: 220px;
    }

    #titolohome {
        max-width: 292px;
    }

     #titolohome2{
        width: 225px;
    }

    .box{
        max-width: 292px;
    }

    .cardhome{
        width: 292px;
    }

    .grafico{
        width: 320px;
        margin: auto;
    }

    .erbacea{
        width: 167px;
    }

    .arborea{
        width: 171px;
    }

    .bulbosa{
        width: 169px;
    }

}