body{
    background-color:#ffffff;
    margin: auto;
    font-family: "Sora", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 98;
}

header, footer {
    background-color: black;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer{
    margin-top: 120px;
}

.contheader{
    display: flex;
    align-items: center;
    width: 1400px;
    justify-content: space-between;
    margin: auto;
    padding: 12px;
}

header ul, footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

header a, footer a {
    text-decoration: none;
    color: #ffffff;
}

header a:hover{
    text-decoration: underline;
}

footer a:hover{
    text-decoration: underline;
}

.titoloheader{
    font-weight: 700;
    font-size: 18px;
}

.contenuto, .testo {
    width: 680px;
}

.paragrafo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 1180px;
    margin: auto;
    padding-top: 120px;
}

.paragrafoarboree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 1180px;
    margin: auto;
}

.hero, .hero1, .hero2, .hero3, .hero4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.hero{
    background-color: #80B280;
}

.hero1{
    background-color: #83BE7E;
}

.hero2{
    background-color: #AD9B7A;
}

.hero3{
    background-color: #C2A984;
}

.hero4{
    background-color: #97C383;
}

main a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 22px;
}

main a:hover{
    text-decoration: underline;
}

h1{
    font-weight: 700;
    font-size: 80px;
    margin: 0;
}

h2{
    font-weight: 600;
    font-size: 25px;
    border-bottom: 3px solid white;
    max-width: 256px;
}

h3{
    font-weight: 700;
    font-size: 22px;
    border-bottom: 3px solid black;
    max-width: 374px;
}

h4{
    font-weight: 700;
    font-size: 35px;
    max-width: 1180px;
    margin: auto;
    padding-top: 120px;
}

p{
    font-weight: 400;
    font-size: 15px;
}

.testo{
    font-weight: 400;
    font-size: 15px;
    max-width: 680px;
}

.testohero{
    width: 480px;
}

.box {
    display: flex;
    width: 1180px;
    margin: auto;
    gap: 20px;
    padding-top: 120px;
}

.card {
    width: 280px;
    height: 220px;
    background-color: #80B280;
}

.testocard a {
    color: white;
}


@media (max-width:800px){
    header nav ul, footer nav ul {
        display: block;
    }
    
    header p, footer p {
        align-content: center;
    }
    footer a {
        font-size: 13px;
    }
}

@media(max-width:600px){
    .home{
        flex-direction: column;
    }
    
    ul{
        flex-direction: column;
    }
 
    .off-screen-menu {
        background-color:  rgb(0, 0, 0);
        max-width: 450px;
        top: 0;
        display: none;
        margin: auto;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        position:inherit;
        top: 44px;
        right: 0;
    }

    .off-screen-menu.active {
        display: grid;
        align-items: center;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 6px;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
    }

    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .container .off-screen-menu{
        grid-row: 2;
    } 

    nav {
        background-color: rgb(0, 0, 0);
        align-self: flex-end;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .ham-menu {
        height: 30px;
        width: 30px;
        position: relative;
    }

    .ham-menu:hover{
        cursor: pointer;;
    }

    .ham-menu span {
        height: 3px;
        width: 70%;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span {
        background-color: rgb(255, 255, 255);
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}